FLASK_APP=app
FLASK_ENV=development

# Once you add your API key below, make sure to not share it with anyone! The API key should remain private.
OPENAI_API_KEY="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"


#STRIPE_API_KEY=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
#STRIPE_WEBHOOK_SECRET=Dwhsec_N3NBiJbjQTmLgYeruC50enN3vF3Z6Zna
